.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-item {
    display: flex;
    flex-direction: column; 
}

body {
    background-color: #667cfc;
    font-style: italic;
    font-family: fantasy;
}

img {
    width: 700px;
    height: 500px;
}